<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Place Name: {{ place_name }}</h1>

    <h2>Documents:</h2>
    <ul>
        {% if documents %}
            {% for doc in documents %}
                <li>Document ID: {{ doc.username }}, Name: {{ doc.Name }}, Category: {{ doc.Category }}</li>
            {% endfor %}
        {% else %}
            <li>No documents found.</li>
        {% endif %}
    </ul>




</body>
</html>